19031758_flatcatalog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BookStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="storeName"/>
        <xs:element ref="Address"/>
        <xs:element ref="website"/>
        <xs:element ref="contact"/>
        <xs:element ref="Books"/>
      </xs:sequence>
      <xs:attribute ref="Branch"/>
    </xs:complexType>
</xs:element>
<xs:attribute name="Branch">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Itahari"/>
          </xs:restriction>
        </xs:simpleType>
</xs:attribute> 
<xs:element name="storeName" type="xs:string"/>
  <xs:element name="Address">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="streetName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="website" type="xs:anyURI"/>
  <xs:element name="contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="email"/>
        <xs:element ref="contactNo."/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[^@]+@[^\.]+\..+|"/>
        </xs:restriction>
      </xs:simpleType>
</xs:element>
  <xs:element name="contactNo.">
    <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[98]{2}[0-9]{8}"/>
        </xs:restriction>
      </xs:simpleType>
 </xs:element>
<xs:element name="Books">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Book" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Title"/>
        <xs:element ref="CoverArtist"/>
        <xs:element ref="price"/>
        <xs:element ref="Publisher" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="PublishYear"/>
        <xs:element ref="Pages"/>
        <xs:element ref="ISBN"/>
        <xs:element ref="Size"/>
        <xs:element ref="MediaType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="Authors"/>
      </xs:sequence>
      <xs:attribute ref="Category" use="required"/>
    </xs:complexType>
  </xs:element>
<xs:attribute name="Category" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Fantasy"/>
        <xs:enumeration value="Quest"/>
      </xs:restriction>
    </xs:simpleType>
</xs:attribute>
<xs:element name="Title">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute  ref="Language" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Language" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Portuguese"/>
        <xs:enumeration value="English"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="CoverArtist" type="xs:string"/>
  <xs:element name="price">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="Currency" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publisher">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="Country" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Country"  >
    <xs:simpleType>
    <xs:restriction base="xs:string">
        <xs:enumeration value="UK"/>
        <xs:enumeration value="US"/>
        <xs:enumeration value="Portugal"/>
    </xs:restriction>
    </xs:simpleType>
 </xs:attribute>
  <xs:element name="PublishYear" type="xs:short"/>
  <xs:element name="Pages" type="xs:short"/>
  <xs:element name="ISBN" type="xs:string"/>
  <xs:element name="Size" type="xs:string"/>
  <xs:element name="MediaType" type="xs:string"/>
  <xs:element name="Authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Author"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="Author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Born"/>
        <xs:element ref="BirthPlace"/>
        <xs:element ref="AlmaMater" minOccurs="0"/>
        <xs:element ref="Period"/>
        <xs:element ref="Spouse"/>
        <xs:element ref="Genre"/>
        <xs:element ref="NotableWorks"/>
        <xs:element ref="socialMedia"/>
      </xs:sequence>
      <xs:attribute ref="Title" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Title" >
    <xs:simpleType>
    <xs:restriction base="xs:string">
        <xs:enumeration value="Mr"/>
        <xs:enumeration value="Mrs"/>
    </xs:restriction>
</xs:simpleType>
</xs:attribute>
  <xs:element name="FacebookID" type="xs:string"/>
  <xs:element name="FacebookFollowers" type="xs:string"/>
  <xs:element name="FacebookFollowing" type="xs:short"/>
  <xs:element name="FacebookJoined" type="xs:short"/>
  <xs:element name="Facebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FacebookID"/>
        <xs:element ref="FacebookFollowers"/>
        <xs:element ref="FacebookFollowing"/>
        <xs:element ref="FacebookJoined"/>
      </xs:sequence>
      <xs:attribute ref="Status" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Status" >
    <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Active"/>
          <xs:enumeration value="InActive"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Born">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:date">
          <xs:attribute ref="Age" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Age">
    <xs:simpleType>
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
    </xs:restriction>
    </xs:simpleType>
</xs:attribute>
  <xs:element name="BirthPlace" type="xs:string"/>
  <xs:element name="AlmaMater" type="xs:string"/>
  <xs:element name="Period" type="xs:string"/>
  <xs:element name="Spouse" >
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Neil Murray"/>
      <xs:enumeration value="Christina Oiticica"/>
    </xs:restriction>
  </xs:simpleType>
  </xs:element>
  <xs:element name="Genre">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="Favourite" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotableWorks" type="xs:string"/>
  <xs:element name="socialMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Facebook"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>